* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    color: hsl(218, 100%, 11%);
}

header {
    background: linear-gradient(to right, #001538, #2575fc);
    padding: 15px 30px;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.center {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    border-radius: 10px;
}

.fundo {
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    height: calc(100vh - 100px); 
    background-image: url("../contatos/fundo\ de\ redes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contato {
    width: 40%; 
    background-color: rgba(241, 236, 236, 0.938); 
    padding: 30px;
    color: rgb(139, 41, 41);
    border-radius: 10px;
}

